/* *{
    border: 1px solid red;
}  */
@font-face {
    font-family: Josefin Sans;
    src: url('/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: JS regular;
    src: url('/fonts/Josefin_Sans/static/JosefinSans-Light.ttf');
}
*{
    margin: 0;
    font-family: Josefin Sans;
}
body{
    overflow-y: hidden;
}
.main{
    width: 100vw;
    height: 90vh;
    display: flex;
}
.container {
   height:100vh;
   min-width: 500px;
   background-image: url('/images/bg-pattern-desktop.svg'), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)), linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)) ;
   background-repeat: no-repeat;
   background-size: cover;
}
.img>img{
  height: 100vh;
}
.container-2{
    margin-left: 11vw;
}
.logo {
    margin-top: 4vw;
    /* margin-left: 6vw; */
}
.main-section{
    margin-left: 0vw;
}

.heading{
    margin-top: 8vw;
}

.heading>h1{
    font-size: 4rem;
    letter-spacing: 10px;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    font-family: JS regular;
}
.heading>h2{
    margin-top: 0.2rem;
    font-size: 3.8rem;
    font-weight: 600;
    color: hsl(0, 6%, 24%);
    line-height: 3.8rem;
    letter-spacing: 0.8rem;
}

.tagline{
    margin-top: 0.5rem;
    width: 63%;
    line-height: 1.8rem;
    color: hsl(0, 36%, 70%);
}



.form > input {
    margin-top:2.8vw ;
    height: 40px;
    width: 55%;
    border-radius: 25px;
    border-width: 0;
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    padding-left: 20px;
    border: 1px solid hsl(0, 36%, 70%);
    background-color: rgba(256, 256, 256, 0);
    color: hsl(0, 36%, 70%);
} 
.form > input:focus {
    outline:none;
} 



.send{
    position: relative;
    background: linear-gradient(135deg,hsla(0, 0%, 100%,0.3),  hsla(0, 100%, 98%,0.1)) ,linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    padding:0.65rem 42px;
    border-radius: 50px;
    top: 0.215em;
    left: -97px;
    border-width: 0;
}

.send:hover {
    box-shadow: -8px 9px 26px -2px rgba(244,179,179,0.75);
-webkit-box-shadow: -8px 9px 26px -2px rgba(244,179,179,0.75);
-moz-box-shadow: -8px 9px 26px -2px rgba(244,179,179,0.75);
left: -95px;
transform: scale(1.08,1.08);
transition: all;
transition-duration: 0.2s;
transition-timing-function: linear;
}
.send:active{
    transform: scale(1,1);
}
.error-img {
  position: relative;
  left: -95px;
  top: 6px;
  opacity: 0;
}
.error {
    position: relative;
}



.error>p {
    font-size: 14px;
    color: hsl(0, 93%, 68%);
    margin-top: 5px;
    margin-left: 30px;
    position: relative;

}
